.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn {
  margin: 10px;
}

/* ----------------------------------------------- */
/* Home & Listings Page  */

.carousel-item img {
  height: 500px;
  object-fit:cover;
}

/* ----------------------------------------------- */
/* Listings Page  */

#listings-container {
  padding: 50px
}

#card-desc-prev {
  height: 100px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card img {
  height: 270px;
}

#greeting-heading {
  color: #3b5274;
  padding: 10px;
}

/* ----------------------------------------------- */
/* Navbar  */
.navbar {
  background-color: rgb(234, 225, 227);
  /* background-color: #0b2e59; */
}

.navbar-brand {
  margin-left: 30px;
  font-size: 25px;
}

.navbar img {
  width: 70px;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
#nav-brand-name {
  color: #0b2e59;
  font-family: 'Montserrat', sans-serif;
}

#nav-sub-brand {
  color:grey;
  font-size: 11px;
  font-weight:bold;
  font-family: 'Montserrat', sans-serif;
  display: block;
  margin-top: -2em;
  margin-right: -1em;
}

/* ------------------------------------------------- */
/* Add New Listing Page */
.col-form-label {
  display: flex;
}

/* ------------------------------------------------- */



/* ------------------------------------------------- */
